<div class="jumbotron" style="background-image: url('https://images.unsplash.com/photo-1519751138087-5bf79df62d5b?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxleHBsb3JlLWZlZWR8MXx8fGVufDB8fHw%3D&w=1000&q=80');">
	<h2>Create a New Acccount</h2>
	<h4>It’s free and always will be.</h4>	
	<div>
		<p><%= link_to "Sign Up", new_user_registration_path, class: "btn btn-primary" %></p>
	</div>
</div>