<section class="">
  <div class="container">
    <h1 ><span class="text-blue" style="font-weight: 700;">You Have Questions, I Have Answers</span></h1>
    <p class="faq"><b>What type of Modeling do you do?</b></p>
    <p>Fashion and high luxury clothing, shoes, and accessories.</p>
    
    <p class="faq"><b>Are you in print?</b></p>
    <p>Not yet but if you're a publisher, lets discuss further. I have a team that will vet so no bs.</p>
    
    <p class="faq"><b>There's a link to support the site, how will the funds be used?</b></p>
    <p>Donations will be greatly appreciated and will go directly to keeping the site up and running strong.</p>
    
    <p class="faq"><b>Do you do promo's? If so, what are your rates.</b></p>
    <p>$500 for all promos including clothing, hair, and nails, ne exceptions. My brand is a business not a charity.</p>
    
    <p class="faq"><b>I want to collaborate or become a partner, how can I get in contact?</b></p>
    <p><a href="https://www.facebook.com/LawrenceMurry24">Click Here to inquire about booking</a></p>
    
    <p>Thanks for stopping by.</p>
    
    <!--<h1 ><span class="text-blue" style="font-weight: 700;">History Lesson</span></h1>-->
  </div>
</section>  